In [4]:
import yfinance as yf
import pandas as pd

In [5]:
def get_yahoo_finance_data(ticker: str, start_date: str = None, end_date: str = None):
    # Create a ticker object
    stock = yf.Ticker(ticker)
    
    # Fetch historical market data
    hist = stock.history(period="max", start=start_date, end=end_date)
    
    # Return the data
    return hist

# Example usage
ticker = '^GSPC'  # Apple Inc. ticker symbol
data = get_yahoo_finance_data(ticker)

# Display the data
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-23 00:00:00-04:00,5565.299805,5585.339844,5550.899902,5555.740234,3500210000,0.0,0.0
2024-07-24 00:00:00-04:00,5505.839844,5508.040039,5419.979980,5427.129883,3945550000,0.0,0.0
2024-07-25 00:00:00-04:00,5428.700195,5491.589844,5390.950195,5399.220215,4592120000,0.0,0.0
2024-07-26 00:00:00-04:00,5433.669922,5488.319824,5430.700195,5459.100098,3638770000,0.0,0.0
2024-07-29 00:00:00-04:00,5476.549805,5487.740234,5444.439941,5473.609863,905851035,0.0,0.0

In [6]:
tickers = {
    "S&P500": "^GSPC",
    "Crude Oil": "CL=F",
    "Silver": "SI=F", # No
    "Iron": "TIO=F",
    "NIFTY 50": "^NSEI",
    "NYSE Composite": "^NYA",
    "Candian Dollar": "CNY=X",
    "Euro": "EUR=X",
}
print(len(tickers))

8

In [7]:
# Get dataframes
dfs = {
    name: get_yahoo_finance_data(ticker) for name, ticker in tickers.items()
}

# Convert indices to date-only format and find the intersection of all dates
common_dates = set.intersection(*(set(df.index.date) for df in dfs.values()))

# Find the earliest common date
earliest_common_date = min(common_dates)

print(f"The earliest common date is: {earliest_common_date}")

# Filter dataframes to the common date range
dfs = {name: df.loc[str(earliest_common_date):] for name, df in dfs.items()}

The earliest common date is: 2010-10-14

In [8]:
dfs["Euro"]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-10-14 00:00:00+01:00,0.71587,0.71597,0.70827,0.71596,0,0.0,0.0
2010-10-15 00:00:00+01:00,0.71073,0.71464,0.70681,0.71063,0,0.0,0.0
2010-10-18 00:00:00+01:00,0.71577,0.72265,0.71561,0.71611,0,0.0,0.0
2010-10-19 00:00:00+01:00,0.71747,0.72603,0.71459,0.71757,0,0.0,0.0
2010-10-20 00:00:00+01:00,0.72780,0.72969,0.71515,0.72785,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-23 00:00:00+01:00,0.91829,0.92213,0.91740,0.91829,0,0.0,0.0
2024-07-24 00:00:00+01:00,0.92160,0.92364,0.92026,0.92160,0,0.0,0.0
2024-07-25 00:00:00+01:00,0.92255,0.92342,0.92044,0.92255,0,0.0,0.0
2024-07-26 00:00:00+01:00,0.92155,0.92228,0.92009,0.92155,0,0.0,0.0
2024-07-29 00:00:00+01:00,0.92050,0.92540,0.91970,0.92400,0,0.0,0.0

In [10]:
gold_df = pd.read_excel("Gold_Prices.xlsx", sheet_name="Daily", skiprows=5,usecols=[2, 3],)\
    .rename(columns={"Unnamed: 2": "Date"}).set_index("Date").loc[str(earliest_common_date):]

gold_df

                USD
Date
2010-10-14  1373.25
2010-10-15  1367.50
2010-10-18  1367.25
2010-10-19  1339.00
2010-10-20  1339.00
...             ...
2024-07-22  2392.70
2024-07-23  2403.10
2024-07-24  2421.45
2024-07-25  2364.20
2024-07-26  2386.10

[3597 rows x 1 columns]